<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tacos">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tacos"
        tools:targetApi="31">
        <activity
            android:name=".view_model.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view_model.MainActivity"/>
        <activity android:name=".view_model.RegisterActivity"/>
        <activity android:name=".view_model.SuccessRegisterActivity"/>
        <activity android:name=".view_model.ChangeUserNameActivity"/>
        <activity android:name=".view_model.ChangePhoneActivity"/>
        <activity android:name=".view_model.ChangePasscodeActivity"/>
        <activity android:name=".view_model.WelcomeNewUserActivity"/>
        <activity android:name=".view_model.EnterCurrentBalanceActivity"/>
        <activity android:name=".view_model.ReportActivity"/>
    </application>

</manifest>